<a href="https://colab.research.google.com/github/Khislatz/DS-Unit-1-Sprint-3-Linear-Algebra/blob/master/module2-intermediate-linear-algebra/Khislat_Zhuraeva_LS_DS_132_Intermediate_Linear_Algebra_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Statistics

## 1.1 Sales for the past week was the following amounts: [3505, 2400, 3027, 2798, 3700, 3250, 2689]. Without using library functions, what is the mean, variance, and standard deviation of of sales from last week? (for extra bonus points, write your own function that can calculate these two values for any sized list)

In [0]:
sales = [3505, 2400, 3027, 2798, 3700, 3250, 2689] 
#calculate mean 
total = sum(sales)
mean_sales = total / len(sales)
mean_sales

3052.714285714286

In [0]:
import numpy as np
import pandas as pd
import math

In [0]:
#calculate variance: ((number - mean)^2)/total
#function to subtract mean from each number
def subtract_mean(number):
  return number-mean_sales

#we can also convert it to a lambda function for effiency
lambda x: x-mean_sales

In [0]:
#use 'map' to apply that function to our list
distances = list(map(subtract_mean, sales))
distances

[452.2857142857142,
 -652.7142857142858,
 -25.71428571428578,
 -254.71428571428578,
 647.2857142857142,
 197.28571428571422,
 -363.7142857142858]

In [0]:
#square and sum all of those distances 
squared_distances = list(map(lambda x: x**2, distances))
numerator = sum(squared_distances)
numerator

1286327.4285714284

In [0]:
#how long is our list?
#for a sample taken from a population 
list_length_sample = len(squared_distances) - 1 # doof
#for a whole population (no sample)
list_length_pop = len(squared_distances)

In [0]:
#calculate the variance of a sample. variance is a measure of the spread. Average squared distance from the mean 
variance_sales_sample = numerator / list_length_sample
variance_sales_sample 
print('{:.1f}'.format(variance_sales_sample))

214387.9

In [0]:
#calculate the variance of the population. Average squared distance from the mean 
variance_sales_pop = numerator / list_length_pop
variance_sales_pop
print('{:.1f}'.format(variance_sales_pop))

183761.1

In [0]:
#calculate the standard deviation. Average distance from the mean 
std_dev_sample_math = '{:.1f}'.format(math.sqrt(variance_sales_sample))
std_dev_sample_np = '{:.1f}'.format(np.sqrt(variance_sales_sample))
std_dev_pop_math = '{:.1f}'.format(math.sqrt(variance_sales_pop))
std_dev_pop_np = '{:.1f}'.format(np.sqrt(variance_sales_pop))
print(std_dev_sample_math)
print(std_dev_sample_np)
print(std_dev_pop_math)
print(std_dev_pop_np)

463.0
463.0
428.7
428.7

In [0]:
#check our work with numpy
print('{:.1f}'.format(np.mean(sales)))
print('{:.1f}'.format(np.var(sales)))
print('{:.1f}'.format(np.std(sales)))

3052.7
183761.1
428.7

In [0]:
#check our work with pandas for population 
sales_df = pd.DataFrame({'sales':sales})
print('mean:', '{:.1f}'.format(sales_df['sales'].mean()))
print('variance: ', '{:.1f}'.format(sales_df['sales'].var(ddof=0)))
print('standard deviation: ','{:.1f}'.format(sales_df['sales'].std(ddof=0)))

mean: 3052.7
variance:  183761.1
standard deviation:  428.7

In [0]:
#check our work with pandas for a sample
sales_df = pd.DataFrame({'sales':sales})
print('mean:', '{:.1f}'.format(sales_df['sales'].mean()))
print('variance: ', '{:.1f}'.format(sales_df['sales'].var(ddof=1)))
print('standard deviation: ','{:.1f}'.format(sales_df['sales'].std(ddof=1)))

mean: 3052.7
variance:  214387.9
standard deviation:  463.0

## 1.2 Find the covariance between last week's sales numbers and the number of customers that entered the store last week: [127, 80, 105, 92, 120, 115, 93] (you may use librray functions for calculating the covariance since we didn't specifically talk about its formula)

In [0]:
sales = [3505, 2400, 3027, 2798, 3700, 3250, 2689] 
number_of_customers  = [127, 80, 105, 92, 120, 115, 93]
np.cov(sales, number_of_customers) #calculating covariance using numpy

array([[214387.9047619 ,   7604.35714286],
       [  7604.35714286,    290.95238095]])

In [0]:
np.cov(sales, number_of_customers)[0][1]

7604.357142857142

In [0]:
#converting into a dataframe 
sales_df['number_of_customers'] = pd.Series(number_of_customers)
sales_df

   sales  number_of_customers
0   3505                  127
1   2400                   80
2   3027                  105
3   2798                   92
4   3700                  120
5   3250                  115
6   2689                   93

In [0]:
#calculating covariance using pandas
sales_df.cov() #7604 is a COVARIANCE between number of customers and sales, it is repeared along the diagonal because COVARIANCE of sales to number of customers 
# is the same as COVARIANCE of number of customers to sales 
#213487 is a VARIANCE of sales and 290 is a VARIANCE of number of customers (those are unique values)

                             sales  number_of_customers
sales                214387.904762          7604.357143
number_of_customers    7604.357143           290.952381

## 1.3 Find the standard deviation of customers who entered the store last week. Then, use the standard deviations of both sales and customers to standardize the covariance to find the correlation coefficient that summarizes the relationship between sales and customers. (You may use library functions to check your work.)

## 1.4 Use pandas to import a cleaned version of the titanic dataset from the following link: [Titanic Dataset](https://raw.githubusercontent.com/Geoyi/Cleaning-Titanic-Data/master/titanic_clean.csv)

## Calculate the variance-covariance matrix and correlation matrix for the titanic dataset's numeric columns. (you can encode some of the categorical variables and include them as a stretch goal if you finish early)

# Orthogonality

## 2.1 Plot two vectors that are orthogonal to each other. What is a synonym for orthogonal?

## 2.2 Are the following vectors orthogonal? Why or why not?

\begin{align}
a = \begin{bmatrix} -5 \\ 3 \\ 7 \end{bmatrix}
\qquad
b = \begin{bmatrix} 6 \\ -8 \\ 2 \end{bmatrix}
\end{align}

## 2.3 Compute the following values: What do these quantities have in common?

## What is $||c||^2$? 

## What is $c \cdot c$? 

## What is $c^{T}c$?

\begin{align}
c = \begin{bmatrix} 2 & -15 & 6 & 20 \end{bmatrix}
\end{align}

# Unit Vectors

## 3.1 Using Latex, write the following vectors as a linear combination of scalars and unit vectors:

\begin{align}
d = \begin{bmatrix} 7 \\ 12 \end{bmatrix}
\qquad
e = \begin{bmatrix} 2 \\ 11 \\ -8  \end{bmatrix}
\end{align}

Your text here

## 3.2 Turn vector $f$ into a unit vector:

\begin{align}
f = \begin{bmatrix} 4 & 12 & 11 & 9 & 2 \end{bmatrix}
\end{align}

# Linear Independence / Dependence

## 4.1 Plot two vectors that are linearly dependent and two vectors that are linearly independent (bonus points if done in $\mathbb{R}^3$).

# Span

## 5.1 What is the span of the following vectors?

\begin{align}
g = \begin{bmatrix} 1 & 2 \end{bmatrix}
\qquad
h = \begin{bmatrix} 4 & 8 \end{bmatrix}
\end{align}

## 5.2 What is the span of $\{l, m, n\}$?

\begin{align}
l = \begin{bmatrix} 1 & 2 & 3 \end{bmatrix}
\qquad
m = \begin{bmatrix} -1 & 0 & 7 \end{bmatrix}
\qquad
n = \begin{bmatrix} 4 & 8  & 2\end{bmatrix}
\end{align}

# Basis

## 6.1 Graph two vectors that form a basis for $\mathbb{R}^2$

## 6.2 What does it mean to form a basis?

# Rank

## 7.1 What is the Rank of P?

\begin{align}
P = \begin{bmatrix} 
1 & 2 & 3 \\
 -1 & 0 & 7 \\
4 & 8  & 2
\end{bmatrix}
\end{align}

## 7.2 What does the rank of a matrix tell us?

# Linear Projections

## 8.1 Line $L$ is formed by all of the vectors that can be created by scaling vector $v$ 
\begin{align}
v = \begin{bmatrix} 1 & 3 \end{bmatrix}
\end{align}

\begin{align}
w = \begin{bmatrix} -1 & 2 \end{bmatrix}
\end{align}

## find $proj_{L}(w)$

## graph your projected vector to check your work (make sure your axis are square/even)

# Stretch Goal

## For vectors that begin at the origin, the coordinates of where the vector ends can be interpreted as regular data points. (See 3Blue1Brown videos about Spans, Basis, etc.)

## Write a function that can calculate the linear projection of each point (x,y) (vector) onto the line y=x. run the function and plot the original points in blue and the new projected points on the line y=x in red. 

## For extra points plot the orthogonal vectors as a dashed line from the original blue points to the projected red points.

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

# Creating a dataframe for you to work with -Feel free to not use the dataframe if you don't want to.
x_values = [1, 4, 7, 3, 9, 4, 5 ]
y_values = [4, 2, 5, 0, 8, 2, 8]

data = {"x": x_values, "y": y_values}

df = pd.DataFrame(data)

df.head()

plt.scatter(df.x, df.y)
plt.show()